body {
    display: flex;
    justify-content: center;
}

.matrix table {
    border-collapse: collapse;
}

.matrix td {
    border: 1px dashed black;
    width: 20px;
    height: 20px;
}

.matrix [data-state="Player1"] {
    background: #dede42;
    border: 1px solid black;
}
.matrix [data-state="Player2"] {
    background: cornflowerblue;
    border: 1px solid black;
}
.matrix [data-state="IntermediatePossible"] {
    background: #ececec;
    border: 1px solid black;
}

.matrix [data-state="IntermediateImpossible"] {
    position: relative;
    background: #ec2d2d;
    border: 1px solid black;
}

.matrix [data-state="IntermediateImpossible"]:before {
    position: absolute;
    top: -6px;
    left: 3px;
    content: '×';
    font-size: 30px;
    color: black;
}
